
:root {
    --dark-bg-color: #222222;
    --light-bg-color: #555555;
    --light-text-color: #EAEAEA;
    --light-blue-color: #3eb4a8;
    --dark-blue-color: #397586;
    --light-green-color: #1fe7ab;
    --dark-green-color: #037160;
    
    --chess-box-width: 3.65em;

    --navbar-width: 5em;
    --navbar-expanded-width: calc(var(--navbar-width) * 3.2);
    --navbar-darkness: 0.3;
}

body {
    margin: 0;
    top: 0;
    font-family: sans-serif;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

/* navbar */
nav {
    display: inline-block;
    position: fixed;
    height: 100vh;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, var(--navbar-darkness)),
        rgba(0, 0, 0, var(--navbar-darkness))
      ) var(--dark-bg-color); 
    width: var(--navbar-width);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

nav:hover {
    width: var(--navbar-expanded-width);
}

nav .logo {
    display: flex;
    background: linear-gradient(180deg, var(--dark-blue-color), var(--light-blue-color));
    align-items: center;
    height: var(--navbar-width);
}

nav .logo img {
    width: calc(0.8 * var(--navbar-width)); 
    margin-inline: calc(0.1 * var(--navbar-width));
    height: calc(0.8 * var(--navbar-width));
}

nav .logo .title {
    width: 100%;
    text-align: center;
    color: var(--dark-bg-color);
}

/* user interaction area */
.user-interaction {
    display: flex;
    margin-left: var(--navbar-width);
    width: calc(100% - var(--navbar-width));
    height: 100vh;
}

/* custom position form */
.user-input {
    flex: 2 2 auto;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input form {
    background-color: var(--light-bg-color);
    border: 3px solid var(--light-bg-color);
    border-radius: 6px;
    width: 80%;
    padding: 1em;
    margin: 0 auto;
}

.user-input input {
    outline: 0;
    width: 100%;
    padding: 0.75em;
    border: 3px solid white;
    border-radius: 6px;

    box-sizing: border-box;
}

.user-input .button-cluster {
    display: flex;
}

.user-input button {
    outline: 0;
    width: 50%;
    padding: 0.75em;
    border: 3px solid transparent;
    border-radius: 6px;
    background-color: var(--dark-blue-color);

    box-sizing: border-box;
}

.user-input button[name='reset'] {
    background-color: var(--light-blue-color);
}
 
.user-input button:hover {
    cursor: pointer;
}

/* chessboard */
.chessboard-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    width: calc(var(--chess-box-width) * 8);
    border: 3px solid var(--light-bg-color);
    border-radius: 4px;
}

.chessboard .row {
    display: -webkit-flex;
}

.chessboard .row .box{
    width: var(--chess-box-width);
    height: var(--chess-box-width);
    position: relative;
    color: var(--dark-blue-color);
    background: linear-gradient(180deg, var(--dark-bg-color), var(--light-bg-color));  
}

.chessboard .row .legal {
    background: linear-gradient(45deg, var(--dark-green-color), var(--light-green-color));
}


.chessboard .row .active {
    box-shadow: 0 0 2px 1px #EAEAEA inset;
}

.chessboard .row .box .file-index, .rank-index {
    position: absolute;
    font-weight: bolder;
}

.chessboard .row .box .file-index {
    right: 2px;
    bottom: 2px;
}

.chessboard .row .box .rank-index {
    left: 2px;
    top: 2px;
}

.chessboard .row .box img {
    width: var(--chess-box-width);
}

.chessboard .row .box:has(img) {
    cursor: grab;  
}

.chessboard .row .box:not(.box:has(img)) .file-index, 
.chessboard .row .box:not(.box:has(img)) .rank-index {
    cursor: default;
}

.chessboard .row:nth-child(even) .box:nth-child(odd):not(.legal),
.chessboard .row:nth-child(odd) .box:nth-child(even):not(.legal) {
    background: linear-gradient(180deg, var(--dark-blue-color), var(--light-blue-color));
}

.chessboard .row:nth-child(even) .box:first-child:not(.legal),
.chessboard .row:last-child .box:nth-child(odd):not(.legal) {
    color: var(--dark-bg-color);
}