
:root {
    --dark-bg-color: #222222;
    --light-bg-color: #555555;
    --light-text-color: #EAEAEA;
    --light-blue-color: #3eb4a8;
    --dark-blue-color: #397586;

    --chess-box-width: 3.65em;
}

body {
    margin: 0;
    top: 0;
    font-family: sans-serif;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

.main-title {
    font-size: 2.2em;
    width: min(300px, 7.5em);
    padding: 0.15em;
    text-align: center;
    color: var(--light-blue-color);
}

/* user interaction area */
.user-interaction {
    display: flex;

}

/* custom position form */
.user-input {
    flex: 2 2 auto;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input form {
    background-color: var(--light-bg-color);
    border: 3px solid var(--light-bg-color);
    border-radius: 6px;
    width: 80%;
    padding: 1em;
    margin: 0 auto;
}

.user-input input {
    outline: 0;
    width: 100%;
    padding: 0.75em;
    border: 3px solid white;
    border-radius: 6px;

    box-sizing: border-box;
}

.user-input .button-cluster {
    display: flex;
}

.user-input button {
    outline: 0;
    width: 50%;
    padding: 0.75em;
    border: 3px solid transparent;
    border-radius: 6px;
    background-color: var(--dark-blue-color);

    box-sizing: border-box;
}

.user-input button[name='reset'] {
    background-color: var(--light-blue-color);
}
 
.user-input button:hover {
    cursor: pointer;
}

/* chessboard */
.chessboard-area {
    width: 100%;
}

.chessboard {
    margin: 0 auto;
    width: calc(var(--chess-box-width) * 8);
    border: 3px solid var(--light-bg-color);
    border-radius: 4px;
}

.chessboard .row {
    display: -webkit-flex;
}

.chessboard .row .box{
    width: var(--chess-box-width);
    height: var(--chess-box-width);
    background: linear-gradient(180deg, var(--dark-bg-color), var(--light-bg-color)) ;    
}

.chessboard .row .active {
    box-shadow: 0 0 2px 1px #EAEAEA inset;
}

.chessboard .row .box img {
    width: var(--chess-box-width);
    cursor: grab;
}

.chessboard .row:nth-child(even) .box:nth-child(odd),
.chessboard .row:nth-child(odd) .box:nth-child(even) {
    /* background: var(--light-blue-color);     */
    background: linear-gradient(180deg, var(--dark-blue-color), var(--light-blue-color));
}
