:root {
    --dark-bg-color: #222222;
    --light-bg-color: #555555;
    --light-text-color: #EAEAEA;
    --light-blue-color: #3eb4a8;
    --dark-blue-color: #397586;
    --dark-accent-color: #d42065;
    --light-green-color: #1fe7ab;
    --dark-green-color: #037160;
    
    --chess-box-width: 3.5em;
    --chessboard-width: calc(var(--chess-box-width) * 8);
    --chessboard-player-height: max(calc(0.5*(100vh - 26px - var(--chessboard-width))), 2em);
    --chessboard-player-edge-margin: 0.4em;

    --navbar-width: 5em;
    --navbar-expanded-width: max(12.5em, calc(var(--navbar-width) * 3.5));
    --widget-darkness: 0.6;
}

body {
    margin: 0;
    top: 0;
    font-family: sans-serif;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
}

.dark-widget-bg  {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, var(--widget-darkness)),
        rgba(0, 0, 0, var(--widget-darkness))
      ) var(--dark-bg-color);
}
/* navbar */
nav {
    display: inline-block;
    position: fixed;
    height: 100vh; 
    width: var(--navbar-width);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

nav:hover {
    width: var(--navbar-expanded-width);
}

nav .logo {
    display: flex;
    background: linear-gradient(180deg, var(--dark-blue-color), var(--light-blue-color));
    align-items: center;
    height: var(--navbar-width);
}

nav .logo img {
    width: calc(0.8 * var(--navbar-width)); 
    margin-inline: calc(0.1 * var(--navbar-width));
    height: calc(0.8 * var(--navbar-width));
}

nav .logo .title {
    width: 100%;
    text-align: center;
    color: var(--dark-bg-color);
}

/* player login form */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--light-text-color);
    width: 22.5em;
    height: 40vh;
    box-sizing: border-box;
}

.login-form .input-group {
    box-shadow: inset 2px 5px 20px #000;
    display: flex;
    width: 75%;
}

.login-form .input-group i {
    padding: 0.75em;
}

.login-form .input-group input {
    box-sizing: border-box;
    background: transparent;
    color: inherit;
    outline: 0;
    border: none;
    padding: 0.75em;
    width: 100%;
}

.login-form button {
    margin-top: 10px;
}

.login-form .heading {
    margin: 0 0 0.8em 0;
}

/* game start widget */
.play-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 15em;
    height: 30%;
}

.login-form button,
.play-widget button,
.game-end-results button {
    outline: 0;
    width: 75%;
    padding: 0.75em;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 6px;
    font-weight: bold;
    color: var(--dark-bg-color);
    background-color: var(--dark-blue-color);
    transition: 500ms;
}

.login-form button:hover,
.play-widget button:hover,
.game-end-results button:hover {
    background-color: var(--light-blue-color);
    cursor: pointer;
}

/* user interaction area */
.user-interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-left: var(--navbar-width);
    width: calc(100% - var(--navbar-width));
    height: 100vh;
}

/* custom position form */
.user-input {
    flex: 2 2 auto;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input form {
    background-color: var(--light-bg-color);
    border: 3px solid var(--light-bg-color);
    border-radius: 6px;
    width: 80%;
    padding: 1em;
    margin: 0 auto;
}

.user-input input {
    outline: 0;
    width: 100%;
    padding: 0.75em;
    border: 3px solid white;
    border-radius: 6px;

    box-sizing: border-box;
}

.user-input .button-cluster {
    display: flex;
}

.user-input button {
    outline: 0;
    width: 50%;
    padding: 0.75em;
    border: 3px solid transparent;
    border-radius: 6px;
    background-color: var(--dark-blue-color);
    
    box-sizing: border-box;
}

.user-input button[name='reset'] {
    background-color: var(--light-blue-color);
}

.user-input button:hover {
    cursor: pointer;
}

/* game end modal */
dialog.game-end-results {
    --widget-width: 30vw;
    --margin-right: calc(0.5*(100vw - var(--navbar-width) - var(--widget-width)));

    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto var(--margin-right) auto auto;

    /* glass bg */
    background: rgba(57, 117, 134, 0.4);
    color: var(--light-text-color);
    border-radius: 16px;
    box-shadow: inset 0 0 0 3px rgba(57, 117, 134, 0.5);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);

    z-index: 10;
    width: var(--widget-width);
    height: 60vh;
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    outline: 0;
    border: none;
    transition: 750ms ease-in;
}

dialog.game-end-results::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.show-modal {
    display: flex;
    flex-flow: column;
    align-items: center;
}

dialog.game-end-results h3,
dialog.game-end-results h4 {
    margin: 0;
}

dialog.game-end-results .title {
    margin-top: 1em;
    font-size: 2em;
}

dialog.game-end-results .subtitle {
    margin-top: 0.15em;
    color: lightgrey;
}

dialog.game-end-results .player-overview {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

dialog.game-end-results .player-overview .player-widget {
    width: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog.game-end-results .player-overview .player-widget img {
    --img-size: 4em;
    border-radius: 5px;
    width: var(--img-size);
    height: var(--img-size);
    border: 3px solid var(--light-bg-color);
}

dialog.game-end-results .player-overview .player-widget img.active {
    border: 3px solid var(--light-blue-color);
}

dialog.game-end-results form {
    width: 80%;
}

dialog.game-end-results .button-cluster {
    display:flex; 
    gap:0.4em;
}

dialog.game-end-results .button-cluster button {
    filter: brightness(1.1);
    color: var(--light-text-color);
}

dialog.game-end-results .button-cluster button:hover {
    background-color: var(--dark-blue-color);
    filter: brightness(1.3);
}

dialog.game-end-results .button-cluster button[name='close'] {
    background-color: var(--dark-accent-color);
}

/* chessboard players */
.chessboard-area .player {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    align-items: center;
    border-radius: 6px;
    width: calc(var(--chessboard-width) + 6px);
    height: var(--chessboard-player-height);
}

.chessboard-area .player:not(.active) {
    filter: brightness(0.6);
}

.chessboard-area .player.active {
    border: 3px solid var(--light-green-color);
    color: var(--light-text-color);
    transition: 200ms ease-in-out;
}

.chessboard-area .player .profile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--chessboard-player-edge-margin);
}

.chessboard-area .player .profile img {
    --img-size: calc(0.75 * var(--chessboard-player-height));
    border-radius: 5px;
    width: var(--img-size);
    height: var(--img-size);
}

.chessboard-area .player .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.chessboard-area .player .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--chessboard-player-edge-margin);
    height: 100%;
}


/* chessboard */
.chessboard-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chessboard {
    margin: 10px 0 10px 0;
    width: var(--chessboard-width);
    border: 3px solid var(--light-bg-color);
    border-radius: 4px;
}

.chessboard .row {
    display: -webkit-flex;
}

.chessboard .row .box{
    width: var(--chess-box-width);
    height: var(--chess-box-width);
    position: relative;
    color: var(--dark-blue-color);
    background: linear-gradient(180deg, var(--dark-bg-color), var(--light-bg-color));  
}

.chessboard .row .legal {
    background: linear-gradient(45deg, var(--dark-green-color), var(--light-green-color));
}


.chessboard .row .active {
    box-shadow: 0 0 2px 1px #EAEAEA inset;
}

.chessboard .row .box .file-index, .rank-index {
    position: absolute;
    font-weight: bolder;
}

.chessboard .row .box .file-index {
    right: 2px;
    bottom: 2px;
}

.chessboard .row .box .rank-index {
    left: 2px;
    top: 2px;
}

.chessboard .row .box img {
    width: var(--chess-box-width);
}

.chessboard .row .box:has(img) {
    cursor: grab;  
}

.chessboard .row .box:not(.box:has(img)) .file-index, 
.chessboard .row .box:not(.box:has(img)) .rank-index {
    cursor: default;
}

.chessboard .row:nth-child(even) .box:nth-child(odd):not(.legal),
.chessboard .row:nth-child(odd) .box:nth-child(even):not(.legal) {
    background: linear-gradient(180deg, var(--dark-blue-color), var(--light-blue-color));
}

.chessboard .row:nth-child(even) .box:first-child:not(.legal),
.chessboard .row:last-child .box:nth-child(odd):not(.legal) {
    color: var(--dark-bg-color);
}