<!DOCTYPE html>
<title>{% block title %}{% endblock %} Way of Chess</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preload" as="image" href="{{ url_for('static', filename='assets/logo.webp')}}">
<link rel="preload" as="image" href="{{ url_for('static', filename='assets/player-d.png')}}">
<link rel="preload" as="image" href="{{ url_for('static', filename='assets/player-l.png')}}">
<script>
    const url = '{{app_url}}/process_move';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>
<nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.webp') }}" alt="LOGO">
        <h1 class="title">WayOfChess</h1>
    </div>
</nav>
{% block content %}{% endblock %}