{% extends "base.html" %}
{% block content %}
{% import "macros.html" as macros %}

<div class="user-interaction">
    <div class="user-input">
        <form method="POST" name="user-input">
            <label for="fen_position">Custom Position</label>
            <input type="text" name="fen_position" placeholder="Enter FEN string">

            <div class="button-cluster">
                <button type="submit" name="set">Set Position</button>
                <button type="submit" name="reset">Reset Position</button>
            </div>
        </form>
    </div>
    
    <div class="chessboard-area">
        {{ macros.player_widget('d', 'Black') }}
        {{ macros.chessboard() }}
        {{ macros.player_widget('l', 'White') }}
    </div>
</div>
{% endblock %}