{% extends "base.html" %}
{% block content %}
{% import 'macros.html' as macros %}

<div id="game-end-modal"></div>
<div class="user-interaction">
    <div class="chessboard-area">
        {{ macros.player_widget('d', player_username_d, session['turn_total']) }}
        {{ macros.chessboard() }}
        {{ macros.player_widget('l', player_username_l, session['turn_total']) }}
    </div>
</div>

{% if session['game_state'] != 'ongoing' %}
<script>
    display_modal('game-end-results');
</script>
{% endif %}
{% endblock %}