{% extends "base.html" %}
{% block content %}

<div class="user-interaction">
    <div class="user-input">
        <form method="POST" name="user-input">
            <label for="fen_position">Custom Position</label>
            <input type="text" name="fen_position" placeholder="Enter FEN string">

            <div class="button-cluster">
                <button type="submit" name="set">Set Position</button>
                <button type="submit" name="reset">Reset Position</button>
            </div>
        </form>
    </div>
    
    <div class="chessboard-area">
        <div class="chessboard">
            {% for i in range(8,0,-1) %}
            <div class="row" id="{{ i }}">
                {% for j in range(8) %}
                {% set j = 'ABCDEFGH'[j] %}
                <div class="box" id="{{ j }}">
                    {% set i = i | string() %}
                    {% if j + i in piece_position.keys() %}
                        {% set piece_type = piece_position[j + i] %}
                        {% set file_path = "assets/Chess_" + piece_type + "t45.svg" %}
                        <img src="{{ url_for('static', filename=file_path) }}" alt="">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    window.onclick = e => {
        let box, row, piece_type;

        if (e.target.tagName == "IMG") {
            img = e.target;
            box = img.parentNode;
            row = box.parentNode;

            img_path = img.src.split('/');
            piece_type = img_path.at(-1);

        } else if(e.target.classList.contains("box")) {
            box = e.target;
            row = box.parentNode;
        }
        
        if (box != undefined && row != undefined) {
            console.log('Piece type: ' + piece_type);
            console.log(box.id + row.id);
        }
    }
</script>
{% endblock %}