<!-- Helper file that stores macros (i.e. components) -->

<!-- player = 'p1' or 'p2' -->
{% macro user_login_form(player) %}
{% if 'username' not in session['players'][player] %}
    <form action="login" method="POST" class="login-form dark-widget-bg">
        <h3 class="heading">Player {{ ['2', '1'][player == 'p1'] }}</h3>
        <div class="input-group">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="{{ '*'*9 }}">
        </div>
        <button type="submit" name="player_login_{{ player }}">Login</button>
    </form>
{% else %}
    <form action="logout" method="POST" class="login-form dark-widget-bg">
        <h3 class="heading">Logged in as {{ session['players'][player]['username'] }}</h3>
        <button type="submit" name="logout_{{ player }}">logout</button>
    </form>
{% endif %}
{% endmacro%}

{% macro chessboard() %}
    {% set piece_position_table = session['piece_position_table'] %}
    {% set app_url = session['app_url'] %}
    <div class="chessboard">
        {% for i in range(8,0,-1) %}
        <div class="row" id="{{ i }}">
            {% for j in range(8) %}
            {% set j = 'ABCDEFGH'[j] %}
            <div class="box" id="{{ j }}">
                {% set i = i | string() %}
                {% if i == '1' %}
                    <div class="file-index">{{ j }}</div>
                {% endif %}
                {% if j == 'A' %}
                    <div class="rank-index">{{ i }}</div>
                {% endif %}
                {% if j + i in piece_position_table.keys() %}
                    {% set piece_type = piece_position_table[j + i] %}
                    {% set file_path = "assets/Chess_" + piece_type + "t45.svg" %}
                    <img src="{{ url_for('static', filename=file_path) }}" alt="">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endmacro%}

<!-- player_colour = 'l' or 'd' -->
{% macro player_widget(player_colour, player_name, turn_total) %}
{% set current_player = 'ld'[turn_total % 2] %}
<div class="player dark-widget-bg {{ ['', 'active'][player_colour == current_player] }}">
    <div class="profile">
        {% set profile_pic_path = 'assets/player-' + player_colour + '.png' %}
        <img src="{{ url_for('static', filename=profile_pic_path) }}" alt="default pic">
    </div>
    <h3 class="name">{{ player_name }}</h3>
    <div class="clock" id="clock-{{ player_colour }}">15:00</div>
</div>
{% endmacro %}